{% extends "layout.html" %}
{% block content %}
<div id="main">
    <div id="ban">
        <div id="banuser">
            <h1>Ban user</h1>
            <span>
                <input id="banuserinput"/>
                <label for="banuserinput">Username</label>
            </span>
            <span>
                <input id="classinput" placeholder="optional"/>
                <label for="classinput">Class</label>
            </span>
            <span>
                <input id="messageinput"/>
                <label for="messageinput">Message</label>
            </span>
            <button id="banuserbutton">Ban user</button>
        </div>
        <div>
            <h1>Banned users</h1>
            <div id="bannedusers" class="list">

            </div>
        </div>
    </div>
    <div>
        <div id="staff">
            <h1>Add Staff</h1>
            <span>
                <input id="staffuserinput"/>
                <label for="staffuserinput">Username</label>
            </span>
            <span>
                <input id="staffclassinput" placeholder="optional"/>
                <label for="staffclassinput">Class</label>
            </span>
            <span>
                <input id="permissioninput" placeholder="1=staff"/>
                <label for="permissioninput">Permission</label>
            </span>
            <button id="promoteuserbutton">Promote User</button>
        </div>
        <div>
            <h1>Staff</h1>
            <div id="stafflist" class="list">

            </div>
        </div>
    </div>
    <div>
        <div id="staff">
            <h1>Helpop</h1>
            <div id="helpop" class="list">

            </div>
        </div>
    </div>
</div>
<script>

function permissionToHuman(permission) {
    switch(permission) {
        case 0:
            return "Default"
        case 1:
            return "Staff"
        default:
            return "Default"
    }
} 

function timeSince(date) {

    var seconds = Math.floor((new Date() - date) / 1000);
  
    var interval = seconds / 31536000;
  
    if (interval > 1) {
      return Math.floor(interval) + " years";
    }
    interval = seconds / 2592000;
    if (interval > 1) {
      return Math.floor(interval) + " months";
    }
    interval = seconds / 86400;
    if (interval > 1) {
      return Math.floor(interval) + " days";
    }
    interval = seconds / 3600;
    if (interval > 1) {
      return Math.floor(interval) + " hours";
    }
    interval = seconds / 60;
    if (interval > 1) {
      return Math.floor(interval) + " minutes";
    }
    return Math.floor(seconds) + " seconds";
  }

async function checkLogin() {
    const response = await fetch(`https://mc.ssis.nu/api/v1/validatesession`, {
            method: "POST",
            headers: {
            "Content-Type": 'application/json',
            },
            body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid")
            })
    });
    
    let json = await response.json();
    if(json["permission"] != 1) {
            window.location.href = "/"
    }
}
checkLogin()

async function getRestrictedPlayers() {
    const response = await fetch(`https://mc.ssis.nu/api/v1/getrestrictedplayers`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid")
        })
    });

    let jsonarray = await response.json();
    let newhtml = ""
    document.getElementById("bannedusers").innerHTML = ""
    for(var i = 0; i < jsonarray.length; i++) {
        newhtml += `
            <div id="banneduserblock">
                <span>
                    ${jsonarray[i]["firstname"]} ${jsonarray[i]["surname"]}
                </span>
                <span>
                    ${jsonarray[i]["class"]}
                </span>
                <span>
                    ${jsonarray[i]["email"]}
                </span>
                <span>
                    "${jsonarray[i]["message"]}"
                </span> 
                <button id="unbanbutton" onclick="unbanPlayer(${jsonarray[i]["id"]})">
                    Unban ${jsonarray[i]["firstname"]}
                </button
            </div>  
        `;
    }
    document.getElementById("bannedusers").innerHTML = newhtml;
}
getRestrictedPlayers();

async function unbanPlayer(userid) {
    const response = await fetch(`https://mc.ssis.nu/api/v1/unbanplayer`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid"),
            "userid": userid
        })
    });

    let json = await response.text();
    getRestrictedPlayers()
}

async function restrictPlayer() {
    var username = document.getElementById("banuserinput").value
    var userclass = document.getElementById("classinput").value
    var message = document.getElementById("messageinput").value

    const response = await fetch(`https://mc.ssis.nu/api/v1/restrictplayer`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid"),
            "username": username,
            "class": userclass,
            "message": message 
        })
    });

    let json = await response.text();
   getRestrictedPlayers()
}

document.getElementById("banuserbutton").addEventListener("click", () => {
	restrictPlayer()
});



async function getPermissions() {
    const response = await fetch(`https://mc.ssis.nu/api/v1/getpermissions`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid")
        })
    });

    let jsonarray = await response.json();
    let newhtml = ""
    document.getElementById("stafflist").innerHTML = ""
    for(var i = 0; i < jsonarray.length; i++) {
        newhtml += `
            <div id="banneduserblock">
                <div>
                    ${jsonarray[i]["firstname"]} ${jsonarray[i]["surname"]}
                </div>
                <div>
                    ${jsonarray[i]["class"]} ${permissionToHuman(jsonarray[i]["permission"])}
                </div>
                <div>
                    ${jsonarray[i]["email"]}
                </div>
                <button id="unbanbutton" onclick="demoteUser(${jsonarray[i]["id"]})">
                    Demote ${jsonarray[i]["firstname"]}
                </button>
            </div>

        `;
    }
    document.getElementById("stafflist").innerHTML = newhtml;
}
getPermissions()

async function promotePlayer() {
    var username = document.getElementById("staffuserinput").value
    var userclass = document.getElementById("staffclassinput").value
    var permission = document.getElementById("permissioninput").value

    const response = await fetch(`https://mc.ssis.nu/api/v1/promoteplayer`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid"),
            "username": username,
            "class": userclass,
            "permission": permission 
        })
    });

    let json = await response.text();
   getPermissions()
}

document.getElementById("banuserbutton").addEventListener("click", () => {
	restrictPlayer()
});

async function demoteUser(userid) {
    const response = await fetch(`https://mc.ssis.nu/api/v1/demoteplayer`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid"),
            "userid": userid
        })
    });

    let json = await response.text();
    getPermissions()
}

document.getElementById("promoteuserbutton").addEventListener("click", () => {
	promotePlayer()
});



async function getHelpop() {
    const response = await fetch(`https://mc.ssis.nu/api/v1/helpop/getall`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid")
        })
    });

    let jsonarray = await response.json();
    let newhtml = ""
    jsonarray.reverse();
    document.getElementById("helpop").innerHTML = ""
    for(var i = 0; i < jsonarray.length; i++) {
        var newDate = new Date();
        newDate.setTime(jsonarray[i]["timestamp"]*1000);
        var datestring = timeSince(newDate);
        newhtml += `
            <div id="banneduserblock">
                <div>
                    ${jsonarray[i]["firstname"]} ${jsonarray[i]["surname"]}
                </div>
                <div>
                    ${jsonarray[i]["class"]}
                </div>
                <div>
                    "${jsonarray[i]["message"]}"
                </div>
                <div>
                    ${datestring}
                </div>
                <button id="unbanbutton" onclick="markResolved(${jsonarray[i]["id"]})">
                    Mark Resolved
                </button>
            </div>

        `;
    }
    document.getElementById("helpop").innerHTML = newhtml;
    console.log(jsonarray)
}
getHelpop()

async function markResolved(helpopid) {
    const response = await fetch(`https://mc.ssis.nu/api/v1/helpop/markresolved`, {
        method: "POST",
        headers: {
            "Content-Type": 'application/json',
        },
        body: JSON.stringify({
            "sessionid": localStorage.getItem("sessionid"),
            "id": helpopid
        })
    });

    let json = await response.text();
    getHelpop()
}

document.getElementById("promoteuserbutton").addEventListener("click", () => {
	promotePlayer()
});


</script>
{% endblock %}
