{% extends "layout.html" %}
{% block content %}
<h1>Du har redan ett konto</h1>
Om det här är fel kontakta keii#9278 på discord
<script>
     localStorage.setItem("sessionid", "{{session}}")
     async function checkLogin() {
          const response = await fetch(`https://mc.ssis.nu/api/v1/validatesession`, {
               method: "POST",
               headers: {
                    "Content-Type": 'application/json',
               },
               body: JSON.stringify({
                    "sessionid": localStorage.getItem("sessionid")
               })
          });
          
          let json = await response.json();
          if(json["permission"] == 1) {
               window.location.href = "/admin"
          }
     }
     checkLogin()
</script>   
{% endblock %}