{% extends "layout.html" %}
{% block content %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
<div class="card mt-5 m-auto text-center" style="width: 50rem;">
     <!-- <div class="card-header">
          Log in
     </div> -->
     <div class="card-body">
          <h1>
               Logga in med skolans google konto
          </h1>
          <p class="m-4">
               Registrerings sidan för <i>ssis.nu</i>
          </p>
          <div class="m-auto" style="width: 18rem">
               <div id="g_id_onload"
                    data-client_id="496641110476-irlpvhj9aprq30dq8ff59dpddlfctu3q.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-login_uri="https://mc.ssis.nu/api/v1/googlelogin"
                    data-auto_prompt="false">

               </div>

               <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
               </div> 
          </div>
     </div>
</div>
<script>
     async function checkLogin() {
          const response = await fetch(`https://mc.ssis.nu/api/v1/validatesession`, {
               method: "POST",
               headers: {
               "Content-Type": 'application/json',
               },
               body: JSON.stringify({
               "sessionid": localStorage.getItem("sessionid")
               })
          });
          
          let json = await response.json();
          if(json["permission"] == 1) {
               window.location.href = "/admin"
          }
     }
     checkLogin()
</script>
{% endblock %}